.colorDisplay {
  text-underline-offset: 0;
}

.btn-hover:hover {
  border: 2px solid #ff96ad;
  color: #ff96ad;
  background-color: #17181c;
}

button {
  position: relative;
  border: none;
  transition: .4s ease-in;
  z-index: 1
}

button::before,
button::after {
  position: absolute;
  content: "";
  z-index: -1;
}



.mainPage {
  background-color: #6c6760;
  margin: 0px;
  padding: 1px;
}



html {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom, #f5be70 15%, #a7660c 100%);
  background-attachment: fixed;
}

body {
  background-image: linear-gradient(to bottom, #f5be70 15%, #a7660c 100%);

  margin: 0px;
  padding: 1px;
}

h1 {
  color: burlywood;
  font-size: 400%;
  text-align: center;
  border: 2px solid #f3b358;

}

h2 {
  font-size: 30px;
  text-shadow: #e6e6e6 -1px 1px 2px
}

p {
  margin-left: 5px;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: blue;
}

ul {
  font-size: 14px;
  list-style: outside;
}

li a {
  float: left;
}