html {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom, #f5be70 15%, #a7660c 100%);
  background-attachment: fixed;
}

body {
  background-color: #6c6760;
  margin: 1px;
  padding: 5px;
}

h1 {
  color: burlywood;
  font-size: 400%;
  text-align: center;
  border: 2px solid #f3b358;

}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}